<head>
  <script src="https://js.stripe.com/v3/buy-button.js" async></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
</head>
<div class="w-screen h-screen">
  <div class="flex justify-center pt-10 flex-col">
    <div class="flex flex-col items-center gap-2">
      <h1 class="text-6xl text-[#0074d4] font-bold">GOOGLE KEYWORD TOOL</h1>
      <h6 class="text-gray-500">
        Generate keyword ideas for a dollar a day, 1 search per minute.
      </h6>
      <div>
        <stripe-buy-button
          buy-button-id="buy_btn_1PnPncRs9UmlsGpeq91TaHK9"
          publishable-key="pk_test_51PnPkGRs9UmlsGpef456k4Uow7yIk6dTtFfA4yzinm9S3Vk8ZK53TydbYh39qol7Yr7mmf7yjYDL1PRQtzhGvMMB00XtXiWYE2"
        >
        </stripe-buy-button>
      </div>
    </div>
    <div class="flex w-1/2 justify-center self-center mt-2 gap-2">
      <input
        placeholder="buy health products online"
        class="p-2 border border-[#0074d4] rounded-md w-[300px]"
      />
      <input
        placeholder="New York"
        class="p-2 border border-[#0074d4] rounded-md"
      />
      <button disabled class="bg-[#0074d4] rounded-md px-2 text-white text-sm">
        GENERATE
      </button>
    </div>
    <div class="w-1/2 self-center mt-5 border border-gray-300 rounded-md">
      <table class="w-full">
        <thead>
          <tr>
            <th class="p-2 border text-[#0074d4]">KEYWORD</th>
            <th class="p-2 border text-[#0074d4]">VOLUME</th>
            <th class="p-2 border text-[#0074d4]">COMPETITION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-2 text-gray-500 border text-center">
              buy health products online
            </td>
            <td class="p-2 text-gray-500 border text-center">10</td>
            <td class="p-2 text-gray-500 border text-center">0</td>
          </tr>
          <tr>
            <td class="p-2 text-gray-500 border text-center">
              online vitamins and supplements
            </td>
            <td class="p-2 text-gray-500 border text-center">10</td>
            <td class="p-2 text-gray-500 border text-center">3</td>
          </tr>
          <tr>
            <td class="p-2 text-gray-500 border text-center">
              buy probiotics online
            </td>
            <td class="p-2 text-gray-500 border text-center">10</td>
            <td class="p-2 text-gray-500 border text-center">0</td>
          </tr>
          <tr>
            <td class="p-2 text-gray-500 border text-center">
              buy health foods online
            </td>
            <td class="p-2 text-gray-500 border text-center">10</td>
            <td class="p-2 text-gray-500 border text-center">2</td>
          </tr>
          <tr>
            <td class="p-2 text-gray-500 border text-center">
              online vitamins supplements
            </td>
            <td class="p-2 text-gray-500 border text-center">10</td>
            <td class="p-2 text-gray-500 border text-center">3</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="absolute bottom-5 right-5 flex gap-1 text-gray-500 font-[500] border rounded-md flex items-center p-2"
    >
      <span class="material-symbols-outlined text-xs"> mail </span>
      <a class="text-xs" href="mailto:rv.work.1994@gmail.com">
        rv.work.1994@gmail.com
      </a>
    </div>
  </div>
</div>
